
<ion-header id="header">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list id="login">

    <ion-item>
      <ion-label fixed>Email</ion-label>
      <ion-input required= true type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Password</ion-label>
      <ion-input required= true type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <button ion-button block id="button" (click)="login()">Login</button>
    <div class = "error-container" *ngIf="displayError">
      <div class="error-message">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>{{displayError}}</span>
      </div>
    </div>

  </ion-list>

</ion-content>
