
#header {
    ion-title {
        color: darkBlue;
    }
}


#login {

    button{
        margin-top: 70px;
        margin-left: 50px;
        height: 40px;
        width:  150px;
        background-color: darkBlue;
        color: white;
    }
}