#header {

    ion-title {
        color: darkBlue;
    }
}

#registration {

    button{
        margin-top: 70px;
        margin-left: 50px;
        height: 40px;
        width:  150px;
        background-color: darkBlue;
        color: white;
    }

    div {
        margin-top: 50px;
        margin-left: 50px;
        margin-bottom: -50px;
        font-weight: bold;
    }
}