<ion-content>
  <router-outlet></router-outlet>
</ion-content>


<ion-tabs id="tabBar">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="controller">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Controller</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="proximity">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Proximity</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scan">
      <ion-icon name="scan-circle-outline"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Log Out</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
