#content{
    text-align: center;

    h1 {
        font-size: 52px;
        font-weight: bold;
        margin-top: 50px;
        padding: 30px;
    }
    button {
        margin: auto;
        height: 40px;
        width:  150px;
        background-color: darkBlue;
        color: white;
    }
}

#tabBar {

    ion-tab-button {
        background-color: lightblue;
    }

    ion-icon {
        color: darkBlue;
    }

    ion-label {
        color: darkBlue;
        font-weight: bold;
    }
}

