#scan {

    img {
        height: 30vh;
        width: auto;
        margin: auto;
        display: block;
        padding-top: 20px
    }

    button{
        margin: auto;
        height: 40px;
        width:  150px;
        background-color: darkBlue;
        color: white;
    }

    buttonTwo{
        margin: auto;
        height: 40px;
        width:  150px;
        background-color: darkBlue;
        color: white;
    }

}