<ion-content padding id="scan">

  <img src='../assets/images/bulb.PNG'>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button id="button" icon-left (click)="startScanning()" *ngIf="!isScanning">
        <ion-icon name="bluetooth-outline"></ion-icon>Scan</button>
      <button ion-button id="buttonTwo" icon-left (click)="stopScanning()" *ngIf="isScanning">
        <ion-icon name="stop-circle-outline"></ion-icon>
        <ion-spinner></ion-spinner>Stop</button>  
    </ion-buttons>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let light of lights">
      <button ion-item (click)="selectLight(light)">
        <ion-icon name="bulb-outline"></ion-icon>
        <h2>{{light.name}}</h2>
        <p>{{light.id}}</p>
        <p>{{light.rssi}} dBm</p>
      </button>
    </ion-item>
  </ion-list>


<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="controller">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Controller</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="proximity">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Proximity</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="colours">
      <ion-icon name="color-palette-outline"></ion-icon>
      <ion-label>Colours</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Log Out</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

</ion-content>
