#home{
    
    text-align: center;

    h1 {
        font-size: 52px;
        font-weight: bold;
        margin-top: 50px;
        padding: 30px;
    }
    img {
        height: 25vh;
        width: auto;
        margin: auto;
        display: block;
    }
}

#tabBar {

    ion-tab-button {
        background-color: lightblue;
    }

    ion-icon {
        color: darkBlue;
    }

    ion-label {
        color: darkBlue;
        font-weight: bold;
    }
}

