.controller {
    .redColor {
        ion-icon { color: red; }
    }
    .greenColor {
        ion-icon { color: green; }
    }
    .blueColor {
        ion-icon { color: blue; }
    }
    .whiteColor {
        ion-icon { color: white; }
    }
}